
.career-stats {
    /* visibility: hidden; */
    display: none;
    font-size: 12px;
    margin-top: 10px;
    padding-top: 20px;
}

.career-headers th{
    color: maroon;
    padding: 5px;
    
}

