.lebron-info {
    /* display: flex;
    justify-content:center; */
}

.lebron-bio {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    /* visibility: hidden; */
}

.lebron-career-stats {
    font-size: 12px;
}

.lebron-career-headers th{
    color: maroon;
    padding: 5px;
    
}

.lebron-bio h2{
    position: relative;
    display: inline;
}
.lebron-bio p {
    display: inline
}
