body {
    /* maybe include background? */
    position: relative;
    background-image: url("/src/img/background/background.png");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-box-container{
    display: flex;
    /* background-color: lightgray; */
    border-radius: 20px;
    justify-content: center;
    
}

.flex-box-row {
    /* background-color: white; */
    border-radius: 10px;
    /* border: 1px solid; */
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.flex-box-row img {
    /* border-radius: 10px; */
}

h2 {
    /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: 'Rock Salt', cursive;
    /* text-align: center; */
}

h3 {
    font-family: 'Rock Salt', cursive;
    text-align: center;
}

.bio {
    float: right;
    text-align: left;
    width: 300px
}

#video {

}


#chartContainer {
    padding-top: 25px;
    padding-left: 20px;
}

#pieChartContainer{
    padding-left: 20px;
}


#player-team {
    font-family: 'Rock Salt', cursive;
    margin: 0px;
}

#player-name {
    font-family: 'Rock Salt', cursive;
    margin: 0px;
}

#player-nickname {
    font-family: 'Rock Salt', cursive;
    margin: 0px;
}

#player-quote {
    margin: 0px;
    margin-top: 5px;
    font-style: italic;
    font-weight: 100;
}

h1 {
    text-align: center;
    font-family: 'Rock Salt', cursive;
    color: whitesmoke;
    font-weight: bold;
    margin-top: 0;
}

#title1, #title2 , #video{
    display: none;
}