body {
    /* maybe include background? */
    position: relative;
    background-image: url("/src/img/background/background.png");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-box-container{
    display: flex;
    /* background-color: lightgray; */
    border-radius: 20px;
    justify-content: center;
    
}

.flex-box-row {
    /* background-color: white; */
    border-radius: 10px;
    /* border: 1px solid; */
}

.flex-box-row img {
    border-radius: 10px;
}

h5 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.bio {
    float: right;
    text-align: left;
    width: 300px
}


#chartContainer, #pieChartContainer {
    padding-top: 10px;
}


#player-team {
    margin: 0px;
}

#player-name {
    margin: 0px;
}

#player-nickname {
    margin: 0px;
}

#player-quote {
    margin: 0px;
    margin-top: 5px;
    font-style: italic;
}
